
.ipynb_checkpoints/load_and_preproc_data-checkpoint.ipynb
data/exp_1a/test/tasks_test_simple.txt
data/exp_1a/train/tasks_train_simple.txt
__pycache__/utils.cpython-37.pyc
data/exp_2/test/tasks_test_length.txt
data/exp_2/train/tasks_train_length.txt
models/__pycache__/Attention.cpython-37.pyc
models/__pycache__/Decoder.cpython-37.pyc
models/__pycache__/Encoder.cpython-37.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/model_training-checkpoint.ipynb
*.PNG
.ipynb_checkpoints/experiment_1a-checkpoint.ipynb
.ipynb_checkpoints/experiment_1b-checkpoint.ipynb
models/__pycache__/utils.cpython-37.pyc
data/exp_1/test/tasks_test_simple.txt
data/exp_1/train/tasks_train_simple.txt
.ipynb_checkpoints/Janek's code-checkpoint.ipynb
results/experiment_1b.json
Paper/Plots/mini_batch_training - example translation.html
Paper/Plots/mini_batch_training - example translation_files/anyword-hint.js.download
Paper/Plots/mini_batch_training - example translation_files/bibInNb4.js.download
Paper/Plots/mini_batch_training - example translation_files/bibtex2.js.download
Paper/Plots/mini_batch_training - example translation_files/bootstrap-tour.min.css
Paper/Plots/mini_batch_training - example translation_files/brace-fold.js.download
Paper/Plots/mini_batch_training - example translation_files/code_prettify.js.download
Paper/Plots/mini_batch_training - example translation_files/codemirror.css
Paper/Plots/mini_batch_training - example translation_files/contents.js.download
Paper/Plots/mini_batch_training - example translation_files/custom.css
Paper/Plots/mini_batch_training - example translation_files/custom.js.download
Paper/Plots/mini_batch_training - example translation_files/encoding.js.download
Paper/Plots/mini_batch_training - example translation_files/ExecuteTime.css
Paper/Plots/mini_batch_training - example translation_files/ExecuteTime.js.download
Paper/Plots/mini_batch_training - example translation_files/extension.js.download
Paper/Plots/mini_batch_training - example translation_files/firstline-fold.js.download
Paper/Plots/mini_batch_training - example translation_files/foldcode.js.download
Paper/Plots/mini_batch_training - example translation_files/foldgutter(1).css
Paper/Plots/mini_batch_training - example translation_files/foldgutter.css
Paper/Plots/mini_batch_training - example translation_files/foldgutter.js.download
Paper/Plots/mini_batch_training - example translation_files/hinterland.js.download
Paper/Plots/mini_batch_training - example translation_files/indent-fold.js.download
Paper/Plots/mini_batch_training - example translation_files/index.js.download
Paper/Plots/mini_batch_training - example translation_files/initNb.js.download
Paper/Plots/mini_batch_training - example translation_files/jquery-ui.min.css
Paper/Plots/mini_batch_training - example translation_files/jquery.tablesorter.min.js(1).download
Paper/Plots/mini_batch_training - example translation_files/jquery.tablesorter.min.js.download
Paper/Plots/mini_batch_training - example translation_files/jquery.typeahead.min.css
Paper/Plots/mini_batch_training - example translation_files/kernel_exec_on_cell.js.download
Paper/Plots/mini_batch_training - example translation_files/kse_components.js.download
Paper/Plots/mini_batch_training - example translation_files/latex_envs.css
Paper/Plots/mini_batch_training - example translation_files/latex_envs.js.download
Paper/Plots/mini_batch_training - example translation_files/magic-fold.js.download
Paper/Plots/mini_batch_training - example translation_files/main(1).css
Paper/Plots/mini_batch_training - example translation_files/main(2).css
Paper/Plots/mini_batch_training - example translation_files/main(3).css
Paper/Plots/mini_batch_training - example translation_files/main(4).css
Paper/Plots/mini_batch_training - example translation_files/main.css
Paper/Plots/mini_batch_training - example translation_files/main.js(1).download
Paper/Plots/mini_batch_training - example translation_files/main.js(10).download
Paper/Plots/mini_batch_training - example translation_files/main.js(11).download
Paper/Plots/mini_batch_training - example translation_files/main.js(2).download
Paper/Plots/mini_batch_training - example translation_files/main.js(3).download
Paper/Plots/mini_batch_training - example translation_files/main.js(4).download
Paper/Plots/mini_batch_training - example translation_files/main.js(5).download
Paper/Plots/mini_batch_training - example translation_files/main.js(6).download
Paper/Plots/mini_batch_training - example translation_files/main.js(7).download
Paper/Plots/mini_batch_training - example translation_files/main.js(8).download
Paper/Plots/mini_batch_training - example translation_files/main.js(9).download
Paper/Plots/mini_batch_training - example translation_files/main.js.download
Paper/Plots/mini_batch_training - example translation_files/main.min.js.download
Paper/Plots/mini_batch_training - example translation_files/MathJax.js.download
Paper/Plots/mini_batch_training - example translation_files/override.css
Paper/Plots/mini_batch_training - example translation_files/promise.min.js.download
Paper/Plots/mini_batch_training - example translation_files/quickhelp_shim.js.download
Paper/Plots/mini_batch_training - example translation_files/react-dom.production.min.js.download
Paper/Plots/mini_batch_training - example translation_files/react.production.min.js.download
Paper/Plots/mini_batch_training - example translation_files/require.js.download
Paper/Plots/mini_batch_training - example translation_files/show-hint.js.download
Paper/Plots/mini_batch_training - example translation_files/style.min.css
Paper/Plots/mini_batch_training - example translation_files/thmsInNb4.js.download
Paper/Plots/mini_batch_training - example translation_files/toc2.js.download
Paper/Plots/mini_batch_training - example translation_files/typo.js.download
results/experiment_1b_mini_batch.json
.ipynb_checkpoints/plotting-checkpoint.ipynb
plotting.ipynb
.ipynb_checkpoints/experiment_2-checkpoint.ipynb
results/experiment_1a_GRU_grid_search.json
.ipynb_checkpoints/inspecting_model_behaviour-checkpoint.ipynb
inspecting_model_behaviour.ipynb
group presentation/slides/ATNLP Group presentation.pdf
paper/plots/paper - Shortcut.lnk
results/experiment_1a_BiRNN_actions_results.json
results/experiment_1a_BiRNN_commands_results.json
results/experiment_1a_RNN_actions_results.json
results/experiment_1a_RNN_commands_results.json
data/exp_3/primitive/test/tasks_test_addprim_jump.txt
data/exp_3/primitive/train/tasks_train_addprim_jump.txt
data/exp_3/primitive_extended/test/tasks_test_addprim_turn_left.txt
data/exp_3/primitive_extended/train/tasks_train_addprim_turn_left.txt
inspecting_model_behaviour.ipynb
Untitled.ipynb
data/exp_3/jump/test/tasks_test_addprim_jump.txt
data/exp_3/jump/train/tasks_train_addprim_jump.txt
data/exp_3/turn_left/test/tasks_test_addprim_turn_left.txt
data/exp_3/turn_left/train/tasks_train_addprim_turn_left.txt
.ipynb_checkpoints/experiment_3-checkpoint.ipynb
individual presentation/Semi-Supervised Sequence Modeling with Cross-View Training.pdf
paper/report/Compositional_Skills_of_Recurrent_Neural_Networks.pdf
